@import url(http://fonts.googleapis.com/css?family=Bangers);

body {margin:0px; padding:20px; background-color:#10b4df;}
.container {margin:0px auto; background:url(../images/bg.jpg); background-repeat:no-repeat; width:1000px; height:600px;padding: 62px 0px 0px 87px;position: relative;}
a {color:inherit; text-decoration:none;}
a img {border:none;}
.ctn {width:835px; height:376px; font: normal 27px 'Bangers', cursive; letter-spacing:0px; color:#fff;padding-top: 15px;padding-left: 19px; position:relative;}
.ctn-idx {margin:0px auto; width:1000px; height:600px;padding: 62px 0px 0px 87px;position: relative; padding:0px;}
ul.poin {height:10px; margin-top:10px;margin-left: 20px;padding: 0px;}
ul.poin li {float:left; width: 16px;padding: 0px;}
.active-page {color:#fe9863;}
.question {width:750px; height:auto; padding-left: 60px; color:#404040; margin-top:40px;}
.radio {color:#fff;}
label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 24px;
}
input[type=radio] {
    display: none;}
label:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: #fff;
}
.radio label:before {
    border-radius: 8px;
}
input[type=radio]:checked + label:before {
    content: "\2022";
	width:16px;
    color: #fe9863;
    font-size: 40px;
    line-height: 18px;
}
.nxf { position:absolute; bottom: 32px; right: 43px;}
a:hover {color:#fe9863;}
.ctn-result1 {width: 615px; height: 335px; font: normal 14px 'Bangers', cursive; letter-spacing:0px; color:#fff;padding-top: 15px;padding-left: 0px;  float: left;margin-left: 75px; line-height: 24px;overflow:hidden;}
.ctn-result2 {width: 103px; height: 280px; font: normal 44px 'Bangers', cursive; letter-spacing:0px; color:#fff;padding-top: 15px;padding-left: 33px; float: left; color:#fe9863;margin-top: 22px;top: 66px;}
.tp {font-size:20px;}
.clearit {clear:both;}
.jdl-resul{font-size:24px;}
.desc-resul{color:#404040;}
.ctn-share {font: normal 16px 'Bangers', cursive;color:#fff;margin-left:80px;margin-top:10px;margin-right:10px;float:left;}
.sharefbt {float:left;margin:3px 3px 0px 3px;}
.balik {float:right;font: normal 18px 'Bangers', cursive;color:#fff;padding-top:5px;}
/* TAMBAHAN WILLY */
input[type=submit] {color:inherit; text-decoration:none; border: 0; background:transparent; font: normal 27px 'Bangers', cursive; letter-spacing:0px; position:relative;}
input[type=submit].nxf {position:absolute; bottom: 32px; right: 43px;}
input[type=submit]:hover {color:#fe9863;}